<div class="container" style="margin-top:-20px">

<div class="row search-bar">
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
    <%= form_tag businesses_path, class: 'form-inline', :method => :get do %>
      <div class="form-group">
        <%= text_field_tag :q, params[:q], placeholder: "What?", class:"form-control"  %>
      </div>
      <div class="form-group hidden-xs">
        <%= text_field_tag :location, params[:location], placeholder: "Where?", class:"form-control" %>
      </div>
      <div class="form-group hidden-xs">
        <%= select_tag(:miles, options_for_select([1,2.5,5,10,15,20]), options = {class:'form-control'})  %><label style="margin-left:10px">miles</label>
      </div>
      <%= button_tag(class: 'btn btn-default') do %><span class="glyphicon glyphicon-search" aria-hidden="true"></span><% end %>
    <% end %>
  </div>
</div>

<div class="collapse collapse in" id="collapseExample">
  <div class="panel-body">
    <div class="col-lg-offset-1 col-lg-10">
      <div id="multi_markers" class="map" style='width:100%;height:300px;'></div>
    </div>
  </div>
</div>

<button class="btn btn-default pull-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Map
</button>

    <h5>Results:&nbsp;<%= @businesses.count %> <%= params[:q] %> <%= params[:location] %></h5>
    <%= will_paginate @businesses, :page_links => true, style:"margin:0px" %>
    <hr>
  <div class="row">
    <% @businesses.each do |business| %>
      <% if business.name.present? %>
        <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <%= render partial: 'businesses/business', locals: {business: business} %>
        </div>
      <% end %>
    <% end %>
  </div>
    <%= will_paginate @businesses, :page_links => true, style:"margin:0px", class:"pull-right" %>
</div>

<script type="text/javascript">
  var handler = Gmaps.build('Google', { markers: { clusterer: { maxZoom: 16, gridSize: 50 }}});
  handler.buildMap({ 
  	provider: { mapTypeId: google.maps.MapTypeId.ROADMAP, maxZoom: 16 }, 
  	internal: {id: 'multi_markers'}}, function(){
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
