<div class="panel-body">
  <div class="form-inputs">
    <%= f.input :form, :input_html => {:value => 'all'}, as: :hidden %>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= f.input :name, required: true, placeholder: "Business Name" %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= f.input :business_type, collection: BusinessType.all, required: true, prompt: "Business Type" %>
      </div>
    </div>
    <div class="pull-right"><span id="body-count">0</span> characters</div>
    <%= f.input :tagline, required: true, placeholder: "Business Tagline", hint: 'Up to 200 characters', input_html: { :id => "body-field", :cols => 5, :rows => 3 } %>
    <%= f.input :cover_image, as: :file, :input_html => {:onchange => "previewFile()"} %>
    <div style="text-align:center;margin:5px">
      <img height="250" width="80%" style="margin-top:10px;text-align:center;border:1px solid grey;border-radius:2px" alt="Image preview...">
    </div>
    <hr>
    <%= f.input :address, required: true, placeholder: "Address" %>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= f.input :city, required: true, prompt: "City", placeholder: "City" %>
        <%= f.input :phone, required: true, placeholder: "Phone" %>
        <%= f.input :facebook, required: true, placeholder: "Facebook/" %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= f.input :postcode, required: true, placeholder: "Postcode" %>
        <%= f.input :website, required: true, placeholder: "Website" %>
        <%= f.input :twitter, required: true, placeholder: "Twitter/" %>
      </div>
    </div>
  </div>
  <div class="pull-right"><span id="about-count">0</span> characters</div>
    <%= f.input :about, required: true, as: :text, placeholder: "About", hint: 'Between 150 and 1000 characters', input_html: { :id => "about-field", :cols => 5, :rows => 10 }  %>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#body-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#body-count").html(length);
  });
});
</script>

<script type="text/javascript">
$(document).ready(function() {
  $("#about-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#about-count").html(length);
  });

});
</script>