<div class="container">

  <div class="row" style="margin-top:10px">
    <div class="col-lg-12">
      <h2 class='page-header' style="text-align:left">About</h2>
    </div>
  </div>

	<div class="row">
<!--left-->
      <div class="col-md-3 hidden-sm hidden-xs" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#sec0">Hello</a></li>
          <li><a href="#sec1">Find staff</a></li>
          <li><a href="#sec2">Find jobs</a></li>
          <li><a href="#sec3">About us</a></li>
        </ul>
      </div>
<!--/left-->

<!--right-->
      <div class="col-md-9">

<!-- Hello Section -->
        <div class="col-lg-12">
          <h2 id="sec0" style="text-align:center;color:#337AB7;margin:20px;margin-top:0px;padding:20px">Hello</h2>
          <p style="font-size:1.1em">
            <strong style="color:#FF534B">ApplyWithin</strong> is a new website that makes it easy for bars, restaurants & cafes to connect with local job hunters.
            <br>
            <br>
            It's a totally free service, with no limit on how many jobs can be added or applications send & received.  Just create a profile & use it to start connecting, it's dead simple.
            <br>
            <br>
          </p>
        <hr>
        </div>
<!-- /hello_section -->

<!-- Business Section -->
        <div class="col-lg-12">
          <h2 id="sec1" style="text-align:center;color:#337AB7;margin:20px;padding:20px">Find staff</h2>
          <p style="font-size:1.1em">
            We believe it should be easier for bars, restaurants & cafes to find staff.
            <br>
            <br>
            And, that it shouldn't cost anything to advertise a job.
            <br>
            <br>
            So we've created <strong style="color:#FF534B">ApplyWithin</strong>, the free website that makes it simple for bars, restaurants & cafes to connect with local job hunters.
          </p>

          <div class="col-lg-7" style="margin-top:40px">
              <h4 class="media-heading">Step 1.</h4>
                <p style="font-size:1.2em"><strong style="color:#337AB7">Create business profile</strong></p>
                <p style="font-size:1.1em">
                Every business on <strong style="color:#FF534B">ApplyWithin</strong> has a profile page.
                It contains key information about the business, such as the address, opening hours and social media links.
                There's also a gallery and a cover image, like on Twitter or Facebook.
                We want job hunters to be able to learn about the business before applying, so please take the time to fill it out.
              </p>
          </div>

          <div class="col-lg-4" style="margin-top:40px">
            <span data-toggle="modal" data-target="#business_profile">
              <%= image_tag "habanera_profile.jpg", class: "media-object", height: '250', width: '400', style: 'border-radius:4px;box-shadow: 2px 1px 1px 1px #AAAAAA' %>
            </span>
          </div>

          <div class="col-lg-7" style="margin-top:40px">
            <h4 class="media-heading">Step 2.</h4>
              <p style="font-size:1.2em"><strong style="color:#337AB7">Add jobs</strong></p>
              <p style="font-size:1.1em">
                There's no limit to how many jobs a business can add on <strong style="color:#FF534B">ApplyWithin</strong> and every job has it's own page.
                The job will contain key details, such as hours per week, wage and dress code, plus there's also plenty of space to add a detailed job description.
                And please remember to share your job on social media!  
              </p>
          </div>

          <div class="col-lg-4" style="margin-top:40px">
            <span data-toggle="modal" data-target="#job_page">
              <%= image_tag "hack_veldt_job.jpg", class: "media-object", height: '250', width: '400', style: 'border-radius:4px;box-shadow: 2px 1px 1px 1px #AAAAAA' %>
            </span>
          </div>

          <div class="col-lg-7" style="margin-top:40px">
            <h4 class="media-heading">Step 3.</h4>
                <p style="font-size:1.2em"><strong style="color:#337AB7">Receive and review job hunter applications</strong></p>
                <p style="font-size:1.1em">
                Rather than receiving emailed CVs, businesses can simply review job hunter's profiles on <strong style="color:#FF534B">ApplyWithin</strong>.
                The job hunter profile contains all the information you'd expect to find on a well written CV; past experience, education, languages and availablity.
                And every profile has the same layout, making it easier to review applications and find the ideal team member.
              </p>
          </div>

          <div class="col-lg-4" style="margin-top:40px">
            <span data-toggle="modal" data-target="#hunter_profile">
              <%= image_tag "sarah_brady_application.jpg", class: "media-object", height: '250', width: '400', style: 'border-radius:4px;box-shadow: 2px 1px 1px 1px #AAAAAA' %>
            </span>
          </div>
          <hr>
        </div>
<!-- /business_section -->

<!-- Job Hunter Section -->
        <div class="col-lg-12" style="margin-top:40px">
          <hr>
          <h2 id="sec2" style="text-align:center;color:#337AB7;margin:20px;padding:20px">Find jobs</h2>
          <p style="font-size:1.1em">We want to make finding a job easy.
            So create your profile and start applying instantly.</p>
          <p style="font-size:1.1em"><strong>Create your profile</strong>, this will act as your CV on <strong style="color:#FF534B">ApplyWithin</strong>.  The more information you add to your profile the better your chances will be, it's no rocket science.</p>
          <ul>
            <li>Profile & Cover Pictures</li>
            <li>Experience</li>
            <li>Education</li>
            <li>Language</li>
            <li>Availability</li>
            <li>About you</li>
          </ul>
          <p style="font-size:1.1em"><strong>You can apply directly to any job on the network with a single click.</strong>  This will share your profile with the business.</p>
          <p style="font-size:1.1em"><strong>Or set up an <span style="color:#FF534B">Auto Apply</span> </strong> and let us do the work for you.  The <span style="color:#FF534B">Auto Apply</span> will automatically apply to any job that matches the area and job type.  Plus whenever a new job gets added, you can get your foot in the door instantly!</p>
          <p style="font-size:1.1em"><strong>Once applied, it's easy to track the progress of your application</strong> or you can cancel the application at any time.</p>

          <div class="row">
          </div>
        </div>
        <hr>
<!-- /hunter Section -->

<!-- About Us Section -->
        <div class="col-lg-12" style="margin-top:40px">
          <hr>
          <h2 id="sec3" style="text-align:center;color:#337AB7;margin:20px;padding:20px">About us</h2>
          <p style="font-size:1.1em">
            We're a small team based in Shepherd's Bush and we developed this service because we don't think the current set-up works for businesses or job hunters.
            So we want to change it.</p>
          <p style="font-size:1.1em">
            Please feel free to get in touch if you have any questions or suggestions.  We're always looking for feedback and advice.
          </p>
<!-- /.row -->
        </div>
<!--/about_section-->

      </div>
<!--/right-->
  </div>
</div>

<!-- Modal 1-->
<div class="modal fade" id="business_profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag("habanera_profile.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div>
</div>

<!-- Modal 1-->
<div class="modal fade" id="job_page" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag("hack_veldt_job.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div>
</div>

<!-- Modal 1-->
<div class="modal fade" id="hunter_profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag("sarah_brady_application.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
/* activate sidebar */
$('#sidebar').affix({
  offset: {
    top: 235
  }
});

/* activate scrollspy menu */
var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;

$body.scrollspy({
	target: '#leftCol',
	offset: navHeight
});

/* smooth scrolling sections */
$('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - 50
        }, 1000);
        return false;
      }
    }
});

</script>