<% @business = Business.first %>

<div class="cover_image" style="background-image: url(<%= @business.cover_image_profile %>);">

  <div class="container" id="main">
    <div class="row">
      <%= render partial: "businesses/business_info", locals: { business: @business } %>
    </div>

  </div><!--container-->

</div><!--cover image-->

<div class="container" id="main">
  <div class="row" style="margin-top:20px">

    <div class="col-lg-8">

      <%= render partial: "businesses/business_jobs", locals: { business: @business } %>

      <%= render partial: "businesses/business_about", locals: { business: @business } %>

      <%= render partial: "businesses/business_gallery", locals: { business: @business } %>

    </div>

    <div class="col-lg-4">

      <%= render partial: "businesses/business_contact", locals: { business: @business } %>

      <%= render partial: "businesses/business_hours", locals: { business: @business } %>

      <%= render partial: "businesses/business_map", locals: { business: @business } %>

    </div>
  </div>
</div>