<div class="container">

  <div class="jumbotron hidden-sm hidden-xs">
    <div class="container">
      <h1>Apply<span id="within">Within</span></h1>
      <p class="hidden-sm hidden-xs">Connecting bars, restaurants & cafes with their next team member</p>
    </div>
  </div>

<!-- Page Content -->
  <div class="container">
    <!-- Portfolio Section -->
    <div class="row" style="margin-bottom:40px">
      <div class="col-lg-12">
        <h2 class='page-header'><%= link_to 'Live Jobs', positions_path %></h2>
      </div>
      <% Position.all.where(status: "available").order('updated_at DESC').limit(24).shuffle.each do |position| %>
      <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= render partial: 'positions/position', locals: {position: position} %>
      </div>
      <% end %>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
              <p style="padding-top:20px">If you've come this far, maybe you're willing to come a little further? So Sign Up today and tell your friends!</p>
            </div>
            <div class="col-md-4">
              <%= link_to 'Sign Up!', new_registration_path(resource_name), class: 'btn btn-lg btn-default btn-block', style:"font-family: 'Lobster', cursive;font-weight:600;color:white;background:#FF534B;font-size:2em;letter-spacing:2px" %>
            </div>
        </div>
    </div>
    <hr>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag("hunter.jpg", class: "img-responsive homepage") %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag("hunter.jpg", class: "img-responsive homepage") %>
      </div>
    </div>
  </div>
</div>