<div class="container">

  <div class="jumbotron hidden-sm hidden-xs">
    <div class="container">
      <h1>Apply<span id="within">Within</span></h1>
      <p class="hidden-sm hidden-xs">Connecting bars, restaurants & cafes with local job hunters</p>
    </div>
  </div>

<!-- Page Content -->
  <div class="container">
    <!-- Portfolio Section -->
    <div class="row" style="margin-bottom:40px">
      <div class="col-lg-12">
        <h2 class='page-header'><%= link_to 'Live Jobs', positions_path %></h2>
      </div>
      <% Position.order('updated_at DESC').limit(12).each do |position| %>
      <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= render partial: 'positions/position', locals: {position: position} %>
      </div>
      <% end %>
    </div>
    <!-- /.row -->
    <!-- Business Section -->
    <div class="row" style="margin-bottom:40px">
      <div class="col-lg-12">
        <h2 class='page-header'>Want a great way to find staff?</h2>
      </div>
      <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-0 col-lg-offset-0 col-lg-4 col-md-4 col-sm-8 col-xs-10">
          <div class="panel panel-default">
              <div class="panel-heading" style="background:#021542;color:white">
                <h4>&nbsp;<span class="fa fa-building fa-2x"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Business Profile</h4>
              </div>
              <div class="panel-body">
                  <p>This includes key information about your business, jobs and photos.</p>
                  <br>
                  <%= link_to 'Example', Business.second, :class => 'btn btn-default'%>
              </div>
          </div>
      </div>
      <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-0 col-lg-offset-0 col-lg-4 col-md-4 col-sm-8 col-xs-10">
          <div class="panel panel-default">
              <div class="panel-heading" style="background:#021542;color:white">
                <h4>&nbsp;<span class="fa fa-list-alt fa-2x"></span>&nbsp;&nbsp;&nbsp;&nbsp;Add jobs</h4>
              </div>
              <div class="panel-body">
                  <p>There's no limit to how many jobs you add or how often you advertise them.</p>
                  <br>
                <%= link_to 'Example', Position.last, :class => 'btn btn-default' %>
              </div>
          </div>
      </div>
      <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-0 col-lg-offset-0 col-lg-4 col-md-4 col-sm-8 col-xs-10">
          <div class="panel panel-default">
              <div class="panel-heading" style="background:#021542;color:white">
                <h4>&nbsp;<span class="fa fa-users fa-2x"></span>&nbsp;&nbsp;&nbsp;&nbsp;Receive applications</h4>
              </div>
              <div class="panel-body">
                <p>Receive applications from interested job-hunters directly through the website.</p>
                <br>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#Modal2">
                Example
                </button>
              </div>
          </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Job Hunter Section -->
    <div class="row" style="margin-bottom:40px">
      <div class="col-lg-12">
        <h2 class="page-header" style="color:#337ab7">Job hunting made easy</h2>
      </div>
      <div class="col-md-6">
        <br>
        <br>
          <p>Create your profile and start applying instantly:</p>
          <ul>
              <li>Experience</li>
              <li>Education</li>
              <li>Language</li>
              <li>Availability</li>
              <li>About you</li>
              <li>Profile & Cover Pictures</li>
          </ul>
          <p><strong>Create your profile, this will act as your CV on ApplyWithin.</strong>  The more information you add to your profile the better your chances will be with businesses.</p>
          <p><strong>Once your profile is complete, you can apply directly to any job on the network with a single click.</strong>  When you apply for a job, your profile will be shared with the businesses.</p>
          <p><strong>Or set up an <span style="color:#FF534B">Auto Apply</span> alert and let us do the work for you.</strong>  The <span style="color:#FF534B">Auto Apply</span> alert will automatically apply you with any job that matches the area and job type.  Whenever a new job gets added, you can get your foot in the door instantly!</p>
          <p><strong>After you’ve applied to a job, you can track the progress of your application</strong> and you can cancel the application at any time.</p>
      </div>
      <div class="col-md-6" style="padding:20px;padding-top:0px">
        <span data-toggle="modal" data-target="#Modal1">
          <%= image_tag('hunter.jpg', height: '600', width: '600', class: "img-responsive homepage") %>
        </span>
      </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
              <p style="padding-top:20px">If you've come this far, maybe you're willing to come a little further? So Sign Up today and tell your friends!</p>
            </div>
            <div class="col-md-4">
              <%= link_to 'Sign Up!', new_registration_path(resource_name), class: 'btn btn-lg btn-default btn-block', style:"font-family: 'Lobster', cursive;font-weight:600;color:white;background:#FF534B;font-size:2em;letter-spacing:2px" %>
            </div>
        </div>
    </div>
    <hr>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag("hunter.jpg", class: "img-responsive homepage") %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag("hunter.jpg", class: "img-responsive homepage") %>
      </div>
    </div>
  </div>
</div>