<div class="container" id="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-12 col-xs-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 id="form-title">Privacy Policy</h3>
          <p>ApplyWithin.co.uk</p>
        </div>
        <div class="panel-body" style="padding:20px;padding-top:10px">
          <p style="font-size:.8em">This privacy policy applies to information gathered by us in connection with our website: <a style="color:#FF534B">www.applywithin.co.uk</a> (our site).
          </br></br>

          We are committed to protecting your privacy and take our responsibilities regarding the security of your information very seriously.  This policy explains how we use your information and how we protect your privacy.
          </br></br>

          This policy (together with our terms of use <%= link_to "Terms of Use", general_terms_path, style:"color:#FF534B;font-weight:600" %> and any other documents referred to) sets out the basis on which any personal information we collect from you, or that you provide to us including through your use of our site will be processed by us. 
          </br></br>

          This site is operated by thefreejobnetwork Limited. We are registered in England under company number 9782273 and have our registered office at 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ. Our main trading address is  71-75 Shelton Street, Covent Garden, London, WC2H 9JQ. We are the data controller for the purposes of the Data Protection Act 1998 (the “Act”) in respect of personal information we obtain in connection with our site. 
          </br></br>

          If you register on our site, our <%= link_to " Business Terms ", business_terms_path, style:"color:#FF534B;font-weight:600" %> or <%= link_to " Job Hunter Terms ", hunter_terms_path, style:"color:#FF534B;font-weight:600" %> will apply to your registration.</p>

          <h5 style="color:#337AB7;font-weight:600;margin-top:30px">What information do we collect about you?</h5>
          <p style="font-size:.8em">To do any of the following things, you will need to provide us with personal information:</p>
          <ul>
            <li style="font-size:.8em">Fill in registration forms to register as:</li>
            <li style="font-size:.8em">a business and create a public profile page on our site containing general information about your business and job opportunities offered by your business; or</li>
            <li style="font-size:.8em">a job hunter and create a private profile page on our site containing your personal information which will be made available to registered businesses when you submit a job application;</li>
            <li style="font-size:.8em">Sign up to receive emails, for example, job alert emails;</li>
            <li style="font-size:.8em">Make use of our site and services;</li>
            <li style="font-size:.8em">Contact us; or</li>
            <li style="font-size:.8em">Provide feedback on the site.</li>
          </ul>

          <p style="font-size:.8em">The information you may be asked to provide may include:</p>
          <ul>
            <li style="font-size:.8em">As a business: your business name, business type, business address (including city and postcode), email address, telephone number, details of your website (and links to your Facebook page, Twitter feed) and details about your business, for example, opening times; & details of the job opportunity, including the job title and description, the roles and responsibilities, the job type, for example, whether it is customer facing, job hours, job wages / tips and whether there are any age restrictions;</li>
            <li style="font-size:.8em">As a job hunter, your first name and last name, date of birth, nationality, location, email address, telephone number, your driving licence, photograph, details of your weekly availability, details of your education and work experience, details of your personal interests and your personal description, for example, about me, interests and hobbies.</li>
          </ul>

          <p style="font-size:.8em">When you use our site, we or our third party providers may collect, process and store the following type of information:</p>
          <ul>
            <li style="font-size:.8em">Information about your computer and your visits to our site, such as your Internet protocol (IP) address used to connect your computer to the Internet, geographical location, browser type and version, your login information, length of visit and number of pages viewed, to administer our site and improve our site;</li>
            <li style="font-size:.8em">Information relating to the activities you carry out via our site, including, as a registered business, information relating to any jobs you register on the site and, as a registered job hunter, any jobs which you apply for as a job hunter. We will use information to provide information to you and to communicate with you when necessary;</li>
            <li style="font-size:.8em">Information that you provide to us for the purpose of registering with us; and</li>
            <li style="font-size:.8em">Information that you provide when you contact us by email or otherwise.</p>
          </ul>


          <h5 style="color:#337AB7;font-weight:600;margin-top:30px">How will we use the information about you?</h5>
          <p style="font-size:.8em">We use the information we hold about you in the following ways:<p style="font-size:.8em">
          <ul>
            <li style="font-size:.8em">If you are a registered job hunter, to provide you with a private and secure area to post and modify your submissions to our site (such as profile pages and job applications) and make these available to registered businesses and if you are a registered business, to make your registered positions and job opportunity details available to registered job hunters;</li>
            <li style="font-size:.8em">To personalise your visits to the site to improve the services provided to you;</li>
            <li style="font-size:.8em">To answer any questions you may raise or respond to any comments you may send to us;</li>
            <li style="font-size:.8em">To notify you about changes to our service or the functionality of our site;</li>
            <li style="font-size:.8em">To ensure that you are complying with our terms and conditions and to comply with our statutory and regulatory obligations;</li>
            <li style="font-size:.8em">To help us improve the structure, layout and usability of our site through monitoring your usage to ensure that content is presented in the most effective manner for you and for your computer;</li>
            <li style="font-size:.8em">To administer our site and for internal operations and as part of our efforts to keep our site safe and secure;</li>
            <li style="font-size:.8em">To keep you informed about us;</li>
            <li style="font-size:.8em">To measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you on the site.</li>
          </ul>

          <p style="font-size:.8em">Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies.  Please check these policies before you submit any personal data to these websites.</p>

          <p style="font-size:.8em">We do not disclose information about identifiable individuals to any advertisers on our site, but if we allow advertising on our site we may provide advertisers with aggregate information about our users (for example, we may inform them that 500 men aged under 30 have clicked on their advertisement on any given day).</p>

          <p style="font-size:.8em">We may disclose your personal information to third parties if we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our <%= link_to "Terms of Use", general_terms_path, style:"color:#FF534B;font-weight:600" %> or our <%= link_to " Business Terms ", business_terms_path, style:"color:#FF534B;font-weight:600" %> or <%= link_to " Job Hunter Terms ", hunter_terms_path, style:"color:#FF534B;font-weight:600" %>  and other agreements; or to protect our rights, or the rights, property, or safety of our customers, or others.</p>

          <h5 style="color:#337AB7;font-weight:600;margin-top:30px">Keeping your information up to date</h5>
          <p style="font-size:.8em">We want to make sure that your personal information is accurate and up to date. If, for any reason, you are concerned that personal information held by us is not correct, or if you want to review, correct, update, change or delete your account profile information at any time, please visit our site and log in to review and change your personal information, account information and if you wish, delete it (please note that we may retain records of your previous user account profiles, which will not be accessible by third parties, for audit and recordkeeping purposes). If you prefer, you can ask us to correct or remove information that you think is inaccurate at any time by emailing us at <a style="color:#FF534B">contact@applywithin.co.uk</a>.</p> 

          <p style="font-size:.8em">You are entitled to ask for a copy of your information (for which we may charge a small fee) and to correct any inaccuracies. This data protection notice may change and therefore you should review it regularly. We will of course notify you of any changes where we are required to do so. If you have questions about your personal data or our privacy policy, please contact us at <a style="color:#FF534B">contact@applywithin.co.uk</a></p>

          <h5 style="color:#337AB7;font-weight:600;margin-top:30px">Cookies</h5>
          <p style="font-size:.8em">Our site uses cookies to distinguish you from other users of our site. A cookie is a small text file that is placed on your computer’s hard drive by your web browser. Cookies allow us to identify your computer and find out details about your visit. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. For further information about cookies visit: <a style="color:#FF534B">http://www.aboutcookies.org/</a>
          Please note that most Internet browsers are set to accept cookies automatically but usually you can set your browser not to accept cookies and the website we have referred to above will give you instructions on how to do so. However, in a few cases some of the features on our site may not function as a result.</p>

          <h5 style="color:#337AB7;font-weight:600;margin-top:30px">Where we store your personal data</h5>
          <p style="font-size:.8em">The personal data that we collect from you may be transferred to, and stored at, a location outside the European Economic Area (“EEA”). It may also be processed by staff located outside the EEA who work for us or for one of our suppliers that we engage to help provide certain services. By submitting your personal data to us through our site, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.
          All information you provide to us is stored on our secure servers and we will take all reasonable care to make our site safe and secure. Unfortunately, the transmission of information via the Internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use procedures and security features to try to prevent unauthorised access.</p>

          <h5 style="color:#337AB7;font-weight:600;margin-top:30px">Changes to our privacy policy</h5>
          <p style="font-size:.8em">Any changes we may make to our privacy policy in the future will be posted as a notification on our site which you will appear as a “pop up” when you next log in as a registered user. If you are using the site as a guest, please check this page from time to time to take notice of any updates or changes to our privacy policy, as they are binding on you.
          We may transfer, sell or assign any of the information described in this policy to third parties as a result of a sale or transfer of our business or change in ownership of our business. 
          Contact us
          Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to <a style="color:#FF534B">contact@applywithin.co.uk</a>.
          </br></br>
          Effective Date: September 2015</p>

        </div>
      </div>

    </div>
  </div>
</div>