  <% if position.business.name.present? %>

  <h5 style="text-align:center;"><%= link_to position.title, position, style:"color:#FF534B;font-weight:600;font-size:1em" %><p style="color:##337ab7;margin-bottom:0px;font-size:.9em;font-weight:600"><%= position.business.type %> | <%= LondonArea.find_by(postcode: position.business.postcode[/(\S+)/, 1]).name %></p></h5>

  <% if position.business.cover_image.present? %>
  
  <a><%= image_tag position.business.cover_image, style:"height:110px;width:270px;border-radius:4px;box-shadow: 4px 2px 2px #AAAAAA;text-align:center;margin-left:30px" %></a>
  
  <% else %>
    <a><%= image_tag ("wall.jpg"), style:"height:100px;width:150px;border-radius:4px;box-shadow: 4px 2px 2px #AAAAAA;text-align:center;margin-left:30px;" %></a>
  <% end %> 


<% end %>