<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-body" style="padding:10px;padding-left:20px;padding-right:20px">
      <%= form_tag positions_path, :method => :get, :html => {:class => "form-inline"} do %>
        <div class="row">
          <div class="form-group col-md-3 col-sm-6 hidden-xs">
            <%= text_field_tag :text, params[:text], class:"form-control", placeholder:"What?" %>
          </div>
          <div class="form-group col-md-3 col-sm-6 col-xs-12">
            <%= select_tag :bracket, options_for_select(['Waiting staff', 'Bar staff', 'Barista', 'Chef', 'Shop Staff', 'Kitchen Staff', 'Kitchen Porter', 'Manager', 'Assistant Manager', 'Supervisor'], params[:bracket]), class:"form-control", prompt:"Job type?" %>
          </div>
          <div class="form-group col-md-3 col-sm-6 hidden-xs">
            <%= text_field_tag :location, params[:location], placeholder: "Where?", class:"form-control" %>
          </div>
          <div class="form-group col-md-3 col-sm-3 hidden-xs">
            <%= select_tag(:miles, options_for_select([1,2.5,5,10,15,20], params[:miles]), options = {class:'form-control', style:"width:70px;display:inline" }) %>&nbsp;&nbsp;miles
          </div>
        </div>

        <hr style="margin-top:0px;margin-bottom:10px">
        <div class="row">
          <div class="col-lg-12" style="text-align:center">
          <%= link_to 'reset', positions_path, class:"pull-left" %>
          <%= submit_tag "Search", class:"btn btn-success btn-sm" %>
          <button id="map_btn" class="btn btn-info btn-sm pull-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <span class="has-tooltip" data-toggle="tooltip" data-placement="right" title="Map">
              Map
            </span>
          </button>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>