<div class="row">
  <div class="cover_image" style="background-image: url(<%= @position.business.cover_image_profile %>)">
    <div class="container">
      <div class="row">
        <%= render partial: "positions/page/position_info", locals: { position: @position } %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" id="position_show">
    <div class="panel panel-default">
      <div class="addthis_sharing_toolbox pull-right" style="margin:10px"></div>
      <div class="panel-body">
        <h1><%= @position.title %></h1>
        <h4><%= link_to @position.business do %><%= @position.business.name %> | <%= @position.business.type %> | <%= LondonArea.find_by(postcode: @position.business.postcode[/(\S+)/, 1]).name %><% end %></h4>
        <p><%= @position.tagline %></p>
        <hr>
        <%= render partial: 'positions/page/position_details', locals: { position: @position }%>
        <hr>
        <%= render partial: 'positions/page/position_description', locals: { position: @position }%>
        <div class="pull-right" style="font-size:1.3em">
          <% if @position.current_advertisement %>
          <td style="text-align:center"><%= render partial: 'position_advertisements/apply', locals: { position_advertisement: @position.current_advertisement } %></td>
          <% else %>
          <td style="text-align:center"><%= link_to "unavailable", nil,  class:"label label-warning", disabled: !current_user.hunter?, style:'border-radius:4px;color:white;font-size:1em;font-weight:600;margin-top:10px', :disabled => true %></td>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>