<div class="panel-body">
  <%= f.input :form, :input_html => {:value => "detail" }, as: :hidden %>  

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :openings, :collection => [ '1', '2', '3', '4', '5+' ], required: true, placeholder: "Openings", label: "Job Openings", prompt: "Job Openings" %>
      <%= f.input :weekly_hours, collection: WeeklyHour.all , required: true, placeholder: "Weekly Hours", label: "Weekly Hours", prompt: "Weekly Hours" %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :start_date, :collection => [ 'ASAP', '2 weeks', '1 month', '3 months', '6 months' ], required: true, placeholder: "Start Date", label: "Start Date", prompt: "Start Date" %>
      <%= f.input :wage, collection: JobWage.all, required: true, placeholder: "Wage", label: "Wage", prompt: "Wage" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :customer_facing, :as => :radio_buttons, :collection => [ 'Yes', 'No' ], label: 'Customer Facing'%>
      <%= f.input :dress_code, :as => :radio_buttons, :collection => [ 'Uniform', 'Smart', 'Casual' ], label: 'Dress Code' %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :age_restricted, :as => :radio_buttons, :collection => [ 'Yes', 'No' ], label: 'Over 18' %>
      <%= f.input :tips, :as => :radio_buttons, :collection => [ 'Yes', 'No' ], label: 'Tips' %>
    </div>
  </div>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, 'Update Job', class: 'btn btn-default' %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#body-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#body-count").html(length);
  });
});
</script>