<div class="panel-body">
  <%= f.input :form, :input_html => {:value => "about" }, as: :hidden %>  
  <div class="pull-right"><span id="body-count">0</span> characters</div>
  <%= f.input :description, required: true, placeholder: "Job Description", hint: 'Between 150 and 1,000 characters', input_html: { :id => "body-field", :cols => 5, :rows => 10} %>
  <div class="pull-right"><span id="rr-count">0</span> characters</div>
    <%= f.input :roles_and_responsibilities, required: true, placeholder: "Job Description", hint: 'Between 150 and 1,000 characters', input_html: { :id => "rr-field", :cols => 5, :rows => 6 } %>
  <div class="pull-right"><span id="sqa-count">0</span> characters</div>
    <%= f.input :desired_sqa, required: true, placeholder: "Job Description", hint: 'Between 150 and 1,000 characters', input_html: { :id => "sqa-field", :cols => 5, :rows => 6 } %>
  <hr>
  <div class="form-actions" style="text-align:center">
    <%= f.button :submit, 'Update Job', class: 'btn btn-default' %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#body-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#body-count").html(length);
  });
});


$(document).ready(function() {
  $("#rr-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#rr-count").html(length);
  });
});

$(document).ready(function() {
  $("#sqa-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#sqa-count").html(length);
  });
});

</script>
