<div class="container">
  <div class="row">
    <%= render partial: 'devise/shared/errors' %>
    <% if request.fullpath.include?('signup_business') %>
    <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-4 col-lg-4 col-md-6 col-sm-8 col-xs-10">
      <div class="panel panel-default">
        <%= render partial: 'business' %>
      </div>
    </div>
    <% elsif request.fullpath.include?('signup_hunter') %>
    <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-4 col-lg-4 col-md-6 col-sm-8 col-xs-10">
      <div class="panel panel-default">
        <%= render partial: 'hunter' %>
      </div>
    </div>
    <% else %>
    <h2 class="page-header" style="color:#337ab7;text-align:center">What type of account do you need?</h2>

    <div class="col-lg-6" style="text-align:center">
      <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Do you need to find new staff?">
        <%= button_to('Business User', signup_business_path, class: 'btn circle business-circle' )%>
      </span>
    </div>

    <div class="col-lg-6" style="text-align:center">
      <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Are you looking for jobs?">
        <%= button_to('Job Hunter User', signup_hunter_path, class: 'btn circle hunter-circle' )%>
      </span>
    </div>

    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.has-tooltip').tooltip();
  $('.has-popover').popover({
    trigger: 'hover'
  });
});
</script>