<div class="table-responsive" style="border:0px">
  <table class="table table-condensed">
    <tbody style="color:#999999;font-weight:600">
      <tr> 
        <td style="border:0px"><i class="fa fa-eye"></i>&nbsp;&nbsp;<%= JobCategory.find_by(id: hunter.seeking).name %></td> 
        <td style="border:0px"><i class="fa fa-home"></i>&nbsp;&nbsp;<%= hunter.location[/(\S+)/, 1] %></td> 
        <td style="border:0px"><i class="fa fa-calendar"></i>&nbsp;&nbsp;<%= hunter.dob.strftime("%b %Y") %></td> 
        <td style="border:0px"><i class="fa fa-globe"></i>&nbsp;&nbsp;<%= Nationality.find_by(id: hunter.nationality).name %></td> 
        <td style="border:0px"><i class="fa fa-car"></i>&nbsp;&nbsp;<%= ticks_or_crosses(hunter.driving_licence) %></td> 
      </tr>
    </tbody>
  </table>
</div>