<div class="panel-body">
  <%= f.input :form, :input_html => {:value => 'about'}, as: :hidden %>

  <div class="pull-right"><span id="summary-count">0</span> characters</div>
  <%= f.input :summary, required: true, as: :text, label: "About Me", placeholder: "About Me", hint: 'Up to 800 characters', input_html: { :id => "summary-field", :cols => 5, :rows => 5 } %>

  <div class="pull-right"><span id="interests-count">0</span> characters</div>
  <%= f.input :interests, required: true, as: :text, placeholder: "Interests", hint: 'Up to 800 characters', input_html: { :id => "interests-field", :cols => 5, :rows => 5 } %>

  <div class="pull-right"><span id="customer_service-count">0</span> characters</div>
  <%= f.input :customer_service, as: :text, placeholder: "Can you give an example of good customer service?", hint: 'Up to 800 characters', input_html: { :id => "customer_service-field", :cols => 5, :rows => 5 } %>

  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#summary-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#summary-count").html(length);
  });
});
</script>

<script type="text/javascript">
$(document).ready(function() {
  $("#interests-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#interests-count").html(length);
  });
});
</script>

<script type="text/javascript">
$(document).ready(function() {
  $("#customer_service-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#customer_service-count").html(length);
  });
});
</script>