<div class="container-fluid">
  <div class="row">  
    <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default applicant">

        <% if @hunter.cover_photo.present? %>
        <div class="panel-heading applicant-head" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= @hunter.cover_photo %>');">
        <% else %>
        <div class="panel-heading applicant-head" style="background-color:#337AB7;">
        <% end %>

          <%= link_to edit_profile_hunter_path(@hunter), class:'btn btn-default btn-xs pull-right', style: 'font-weight:600;color:#AAAAAA' do %>
            <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Edit Profile Info">
              Edit Profile
            </span>
          <% end %>

          <div class="row">

      <div class="col-lg-offset-0 col-md-offset-0 col-lg-3 col-md-4 col-sm-12 col-xs-12" style="text-align:center;margin:10px">
        <%= image_tag @hunter.avatar.url(:medium), class: "img-circle" %>
      </div>

      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 applicant_info" style="text-align:center">
        <h1><%= @hunter.display_name %></h1>
        <p><%= @hunter.tagline %></p>
        <hr style="border: 1px solid #FF534B">
        <div class="col-lg-9 col-md-7 col-sm-6 col-xs-12">
          <p><i class="fa fa-phone-square"></i>&nbsp;&nbsp;<%= @hunter.phone %></p>
          <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<%= mail_to "#{@hunter.email}", nil, style:'color:white' %></p>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
          <p><i class="fa fa-binoculars"></i>&nbsp;&nbsp;<%= JobCategory.find_by(id: @hunter.seeking).name %></p>
          <p><i class="fa fa-home"></i>&nbsp;&nbsp;<%= @hunter.location[/(\S+)/, 1] %></p>
        </div>
      </div>

          <%= link_to edit_cover_photo_hunter_path(@hunter), class:'btn btn-default btn-xs pull-right', style: 'font-weight:600;color:#AAAAAA' do %>
            <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Edit Cover Photo">
              Edit Cover Photo
            </span>
          <% end %>

          </div>
        </div>

        <div class="panel-body">

          <div class="row">
            <div class="col-lg-8 col-md-7">

              <h5 style="text-align:center;margin:30px">Work Experience&nbsp;&nbsp;&nbsp;<span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Add Your Job History"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                <!-- <%= link_to new_hunter_experience_path(current_user.group), class:"btn btn-default btn-sm pull-right", style: 'font-weight:600;color:#AAAAAA' do %>
                  <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Add Your Job History">Add Previous Experience</span>
                <% end %> -->
              </h5>
              <% if @hunter.experiences.present? %>
                <%= render partial: '/experiences/experiences_table', object: @hunter.experiences %>
              <% else %>
                <h4>This is my first job.</h4>
              <% end %>

              <hr>

              <h5 style="text-align:center;margin:30px">Education&nbsp;&nbsp;&nbsp;<span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Add Your Education History"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                <!-- <%= link_to new_hunter_education_path(current_user.group), class:"btn btn-default btn-sm pull-right", style: 'font-weight:600;color:#AAAAAA' do %>
                  <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Add Your Education History">Add Previous Education</span>
                <% end %> -->
              </h5>
              <% if @hunter.educations.present? %>
                <%= render partial: '/educations/educations_table', object: @hunter.educations %>
              <% else %>
                <h4><%= link_to "We don't need no education.", "https://www.youtube.com/watch?v=34ZmKbe5oG4", target:"_blank", style:"color:#021542"%></h4>
              <% end %>

            </div>

            <div class="col-lg-4 col-md-4">

              <h5 style="text-align:center;margin:30px">Languages&nbsp;&nbsp;&nbsp;<span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Add Language"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                <!-- <%= link_to new_hunter_language_path(current_user.group), class:"btn btn-default btn-sm pull-right", style: 'font-weight:600;color:#AAAAAA' do %>
                  <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Add Language">Add Language</span>
                <% end %> -->
              </h5>
              <% if @hunter.languages.present? %>
                <%= render partial: '/languages/languages_table', object: @hunter.languages %>
              <% else %>
                <h4>I don't speak any languages.</h4>
              <% end %>

              <hr>

              <h5 style="text-align:center;margin:30px">Availability&nbsp;&nbsp;&nbsp;<span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Edit Availability"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                <!-- <%= link_to edit_times_hunter_path(current_user.group), class:'btn btn-default btn-sm pull-right', style: 'font-weight:600;color:#AAAAAA' do %>
                  <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Edit Availability">Edit Available Times</span>
                <% end %> -->
              </h5>
              <%= render partial: '/available_times/available_time_table', object: @hunter %>

            </div>

            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
              <h5 style="text-align:center;margin:30px">About Me&nbsp;&nbsp;&nbsp;<span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Edit About Me"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
              <!-- <%= link_to edit_about_hunter_path(current_user.group), class:"btn btn-default btn-sm pull-right", style: 'font-weight:600;color:#AAAAAA' do %>
                <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Edit About Me Section">Edit About Me</span>
              <% end %> -->
              <%= render partial: '/hunters/about', object: @hunter %>
              <%= link_to new_hunter_auto_application_path(@hunter), class:"btn btn-default pull-right", style:"background-color:#FF534B;color:white;font-size:14px" do %><i class="fa fa-magnet" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Auto Apply<% end %>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
  $('.has-tooltip').tooltip();
  $('.has-popover').popover({
    trigger: 'hover'
  });
});
</script>