<div class="row">
  <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-4 col-lg-4 col-md-6 col-sm-8 col-xs-10">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">Change Password</h3>
      </div>

      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
          <%= f.input :reset_password_token, as: :hidden %>
          <div class="form-inputs">
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
          </div>
          <hr>
            <%= f.button :submit, "Change Password" %>
        <% end %>
      </div>
    </div>
  </div>
</div>