<tr>
  <td colspan="8" style="border-top:0px;">
    <h3><%= experience_row.job_title %>
      <div class="btn-group-vertical pull-right" role="group" >
      <%- if current_user.admin_for?(experience_row) %>
        <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Edit Job<span class="sr-only">Toggle Dropdown</span></button>
        <ul class="dropdown-menu" style="text-align:left;min-width:70px">
          <li><%= link_to 'edit', edit_experience_path(experience_row) %></li>
          <li><%= link_to 'delete', experience_path(experience_row), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      <% end %>
        <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Job Description">
          <button class='btn btn-default btn-sm' data-toggle="collapse" data-target="#<%= experience_row.object_id %>" aria-expanded="false">
            More
          </button>
        </span>
      </div>
    </h3>
    <h5 style="color:#337ab7;text-align:left"><%= JobCategory.find(experience_row.category).name %> @ <%= experience_row.employer %>, <%= experience_row.location %> (
      <span class="hidden-md hidden-lg"><%= remove_unwanted_words distance_of_time_in_words(experience_row.start_date, experience_row.end_date) %></span>
      <span class="hidden-sm hidden-xs"><%= experience_row.formatted_start_date %> - <%= experience_row.formatted_end_date %></span>)
    </h5>
    <p><%= experience_row.tagline %><p>
  </td>
</tr>
<tr class="collapse" id="<%= experience_row.object_id %>">
  <td colspan="10" style="background-color: #e8e8e8;color:#565a5c;padding:10px;font-size:.9em">
    <strong style="color:#333333">Job Description:</strong> 
      <%= simple_format(experience_row.job_description) %>
  </td>
</tr>

<script type="text/javascript">
$(document).ready(function() {
  $('.has-tooltip').tooltip();
  $('.has-popover').popover({
    trigger: 'hover'
  });
});
</script>