<div class="panel-body">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :job_title, required: true, placeholder: "Job Title", label: "Job Title " %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :employer, required: true, placeholder: "Employer", label: "Employer "%>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :location, required: true, placeholder: "City", label: "City "%>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :category, collection: JobCategory.all, required: true, prompt: "Job Type", label: "Job Type"%>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :start_date, as: :date, end_year: Date.today.year, start_year: Date.today.year - 25, discard_day: true, order: [:month, :year] %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= f.input :end_date, as: :date, end_year: Date.today.year, start_year: Date.today.year - 25, discard_day: true, order: [:month, :year] %>
    </div>
  </div>

  <div class="pull-right"><span id="tagline-count">0</span> characters</div>
  <%= f.input :tagline, required: true, placeholder: "Job Tagline", hint: 'Between 20 and 200 characters', input_html: { :id => "tagline-field", :cols => 5, :rows => 3 } %>
  <div class="pull-right"><span id="body-count">0</span> characters</div>
  <%= f.input :job_description, required: true, placeholder: "Job Description", hint: 'Between 150 and 700 characters', input_html: { :id => "body-field", :cols => 5, :rows => 7 } %>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#tagline-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#tagline-count").html(length);
  });
});

$(document).ready(function() {
  $("#body-field").on("keyup", function(){
    var length = $(this).val().length;
    $("#body-count").html(length);
  });
});

</script>