<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header" style="border-bottom:0px;padding-bottom:0px">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 style="font-family: 'Lobster', cursive;color:#021542;text-align:center">ApplyWithin</h1>
        <p style="text-align:center">Connecting bars, restaurants &amp; cafes with local job hunters</p>
        <hr>
      </div>

      <div class="modal-body" style="padding:40px;padding-top:10px;padding-bottom:10px;color:grey">
        <h4>Welcome to <span style="font-family: 'Lobster', cursive;color:#FF534B;font-size:1.6em">ApplyWithin</span>.</h4>
        <br>
        <p>We've created a free profile for <span style="color:#337AB7"><%= @business.name %></span>.</p>
        <p><span style="font-family: 'Lobster', cursive;color:#021542;font-size:1.3em">ApplyWithin</span> is a free way to advertise jobs &amp; receive applications.</p>
        <br>
        <p>Want to claim this profile and start using it to find staff?</p>
        <p>Send us your email below and we can set it up for you.</p>
      </div>

      <div class="modal-footer" style="text-align:center">
        <%= simple_form_for Contact.new, :html => { class:"form-inline" } do |f| %>
          <div class="form-group">
            <%= f.hidden_field :name, :value => @business.name %>
          </div>
          <div class="form-group">
            <%= f.input :email, :required => true, label: false, :input_html => { class: 'form-control', style:"width:250px;border-radius:4px;font-size:.9em", placeholder:"email" } %>
          </div>
          <%= f.button :submit, 'Send', :class=> "btn btn-default", style:"border-radius:4px;font-weight:600;font-size:1em;background-color:#428bca;color:white" %>
        <% end %>
      <p style="margin-top:10px;font-size:.7em">* if you want us to remove this profile, please email <%= mail_to "contact@applywithin.co.uk", nil, :style => 'color:#428bca' %>. (sorry!)</p>
    </div>

  </div>
</div>

<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>
