<div class="panel-body">
  <div class="form-group"><!-- :title => text-->
    <%= f.input :location, collection: ['Central East', 'Central West', 'East', 'West', 'North', 'North West', 'South East', 'South West'], required: true, prompt: "London Area", label: "London Area"  %>
  </div>
  <div class="form-group"><!-- :title => text-->
    <%= f.input :job_type, collection: JobBracket.all, required: true, prompt: "Job Type" %>
  </div>
  <hr>
  <%= f.submit 'Submit', class:'btn btn-default center-block', style:'border-radius:4px;font-size:1em;font-weight:600' %>

  <%= f.hidden_field :status, :value => "active" %>
  <%= f.hidden_field :action, :value => "future" %>
</div>