<div class="col-lg-3 col-md-3 col-sm-4"> 
  <span data-toggle="modal" data-target="#<%= photo.object_id %>">
    <%= image_tag photo.file.url(:small), style:"border-radius:4px;box-shadow: 4px 4px 2px #d3d3d3;margin:5px" %>
  </span>
  <% if @business.owner?(current_user) %>
    <%= link_to photo, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default center",  style:'border-radius:4px;font-size:.8em;font-weight:600;margin:5px' do %>
    <i class="fa fa-trash-o fa-2x"></i>
    <% end %>
  <% end %>


</div>


<!-- Modal -->
<div class="modal fade" id="<%= photo.object_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= image_tag photo.file.url(:large), class:'img-responsive', style:"margin-left:auto;margin-right:auto;border-radius:4px", class:"modal-dialog", role:"document" %>
</div>
