<tr>
  <td><%= available_time.day %></td>
  <td style="text-align:center"><%= can_they_work2(available_time.morning) %></td>
  <td style="text-align:center"><%= can_they_work2(available_time.afternoon) %></td>
  <td style="text-align:center"><%= can_they_work2(available_time.evening) %></td>
  <td style="text-align:center"><%= can_they_work2(available_time.late) %></td>
</tr>