<%- if applicant_gallery.empty? %>
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
        <h3 id="form-title">Sorry no applications for <%= position_advertisement.title %></h3>
        <p>Remember to share your jobs on social media using the buttons on the job page.</p>
        <p>Head back to your dashboard and we'll let you know when there's been a new application.</p>
        <hr>
        <%= link_to 'Dashboard', :dashboard, class:"btn btn-default pull-right" %>
        </div>
      </div>
    </div>
  </div>
<%- else %>
<%- hunter = hunter_to_view(applicant_gallery) %>
<%- application = hunter.application_for(position_advertisement) %>
<%= record_application_impression(application) %>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
        <div class="panel-body" style="margin-top:-10px;padding-top:0px">
          <div class="dropdown">
            <h5 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:600;color:#337AB7" ><%= position_advertisement.position.title %> Applications - <%= applicant_gallery.count %> (<%= position_advertisement.new_applications %>)&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></h5>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <% current_user.group.current_advertisements_with_applications.each do |other_advert| %>
              <li><%= link_to "#{other_advert.position.title} - #{other_advert.applications.count}", position_advertisement_position_applications_path(other_advert), style:"font-weight:600;font-size:.9em;text-align:left" %></li>
              <% end %>
            </ul>
          </div>
          <hr>

          <div class="col-sm-3 col-xs-3" style="text-align:center;padding-left:0px">
            <%= prev_arrow(applicant_gallery) %>
          </div>

          <div class="col-sm-3 col-xs-3" style="text-align:center;padding-left:0px">
            <%= button_to reject_application_position_application_path(application), data: { confirm: 'Reject #{hunter.first_name} #{hunter.last_name}, are you sure?' }, class: 'btn btn-danger btn-circle btn-xl',  method: :put do %> 
              <i class='fa fa-times fa-2x'></i>
            <% end %>
          </div>

          <div class="col-sm-3 col-xs-3" style="text-align:center;padding-left:0px">
            <%= button_to reject_application_position_application_path(application), data: { confirm: "Print #{hunter.first_name} #{hunter.last_name}'s profile?" }, class: 'btn btn-info btn-circle btn-xl',  method: :put do %> 
              <i class='fa fa-print fa-2x'></i>
            <% end %>
          </div>

          <div class="col-sm-3 col-xs-3" style="text-align:center;padding-left:0px">
            <%= next_arrow(applicant_gallery) %>
          </div>
        </div>
      </div>

      <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
        <%= render partial: 'hunters/profile', locals: { hunter: hunter } %>
      </div>

      <div class="col-lg-2 col-md-3 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading" style="padding:5px;padding-left:10px">
            <h5 style="font-weight:600;color:#FF534B">Applications</h5>
            <div class="dropdown">
              <h6 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:600" ><%= position_advertisement.position.title %> - <%= applicant_gallery.count %> (<%= position_advertisement.new_applications %>)&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></h6>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <% current_user.group.current_advertisements_with_applications.each do |other_advert| %>
                <li><%= link_to "#{other_advert.position.title} - #{other_advert.active_applicant_count}", position_advertisement_position_applications_path(other_advert), style:"text-align:center;font-size:.9em;text-align:left" %></li>
                <% end %>
              </ul>
            </div>

            </div>
          <div class="panel-body" style="padding:5px">
            <%= render partial: 'position_applications/business/applicants_table', object: position_advertisement.applications.active %>
          </div>
        </div>

        <div class="panel-body" style="padding:10px;padding-bottom:20px;">
          <div class="col-lg-6 col-md-6" style="text-align:center;padding-left:0px">
            <%= prev_arrow(applicant_gallery) %>
            <%= button_to reject_application_position_application_path(application), data: { confirm: "Print #{hunter.first_name} #{hunter.last_name}'s profile?" }, class: 'btn btn-info btn-circle btn-xl',  method: :put do %> 
              <i class='fa fa-print fa-2x'></i>
            <% end %>
          </div>
          <div class="col-lg-6 col-md-6" style="text-align:center;padding-left:0px">
            <%= next_arrow(applicant_gallery) %>
            <%= button_to reject_application_position_application_path(application), data: { confirm: "Reject #{hunter.first_name} #{hunter.last_name}, are you sure?" }, class: 'btn btn-danger btn-circle btn-xl',  method: :put do %> 
              <i class='fa fa-times fa-2x'></i>
            <% end %>
          </div>

          <hr>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
        <div class="panel-body" style="margin:10px;">
          <div class="col-sm-3 col-xs-3" style="text-align:center;padding-left:0px">
            <%= prev_arrow(applicant_gallery) %>
          </div>

          <div class="col-sm-3 col-xs-3" style="text-align:center;padding-left:0px">
            <%= button_to reject_application_position_application_path(application), data: { confirm: 'Reject #{hunter.first_name} #{hunter.last_name}, are you sure?' }, class: 'btn btn-danger btn-circle btn-xl',  method: :put do %> 
              <i class='fa fa-times fa-2x'></i>
            <% end %>
          </div>

          <div class="col-sm-3 col-xs-3" style="text-align:center;padding-left:0px">
            <%= button_to reject_application_position_application_path(application), data: { confirm: "Print #{hunter.first_name} #{hunter.last_name}'s profile?" }, class: 'btn btn-info btn-circle btn-xl',  method: :put do %> 
              <i class='fa fa-print fa-2x'></i>
            <% end %>
          </div>

          <div class="col-sm-3 col-xs-3" style="text-align:center;padding-left:0px">
            <%= next_arrow(applicant_gallery) %>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>